Creacon/ws-client/src/main/axis2/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://creacon.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://creacon.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://creacon.com">
            <xs:element name="celsiusToFarenheit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="celsius" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="celsiusToFarenheitResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="farenheitToCelsius">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="farenheit" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="farenheitToCelsiusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="celsiusToFarenheitRequest">
        <wsdl:part name="parameters" element="ns:celsiusToFarenheit"/>
    </wsdl:message>
    <wsdl:message name="celsiusToFarenheitResponse">
        <wsdl:part name="parameters" element="ns:celsiusToFarenheitResponse"/>
    </wsdl:message>
    <wsdl:message name="farenheitToCelsiusRequest">
        <wsdl:part name="parameters" element="ns:farenheitToCelsius"/>
    </wsdl:message>
    <wsdl:message name="farenheitToCelsiusResponse">
        <wsdl:part name="parameters" element="ns:farenheitToCelsiusResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConverterPortType">
        <wsdl:operation name="celsiusToFarenheit">
            <wsdl:input message="ns:celsiusToFarenheitRequest" wsaw:Action="urn:celsiusToFarenheit"/>
            <wsdl:output message="ns:celsiusToFarenheitResponse" wsaw:Action="urn:celsiusToFarenheitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="farenheitToCelsius">
            <wsdl:input message="ns:farenheitToCelsiusRequest" wsaw:Action="urn:farenheitToCelsius"/>
            <wsdl:output message="ns:farenheitToCelsiusResponse" wsaw:Action="urn:farenheitToCelsiusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConverterSoap11Binding" type="ns:ConverterPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="celsiusToFarenheit">
            <soap:operation soapAction="urn:celsiusToFarenheit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="farenheitToCelsius">
            <soap:operation soapAction="urn:farenheitToCelsius" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterSoap12Binding" type="ns:ConverterPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="celsiusToFarenheit">
            <soap12:operation soapAction="urn:celsiusToFarenheit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="farenheitToCelsius">
            <soap12:operation soapAction="urn:farenheitToCelsius" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterHttpBinding" type="ns:ConverterPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="celsiusToFarenheit">
            <http:operation location="Converter/celsiusToFarenheit"/>
            <wsdl:input>
                <mime:content type="text/xml" part="celsiusToFarenheit"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="celsiusToFarenheit"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="farenheitToCelsius">
            <http:operation location="Converter/farenheitToCelsius"/>
            <wsdl:input>
                <mime:content type="text/xml" part="farenheitToCelsius"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="farenheitToCelsius"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Converter">
        <wsdl:port name="ConverterHttpSoap11Endpoint" binding="ns:ConverterSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Converter"/>
        </wsdl:port>
        <wsdl:port name="ConverterHttpSoap12Endpoint" binding="ns:ConverterSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Converter"/>
        </wsdl:port>
        <wsdl:port name="ConverterHttpEndpoint" binding="ns:ConverterHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Converter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
